/* Element Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #333333;
  line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Gotham Narrow', 'Lato', sans-serif;
  font-weight: lighter;
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }

/* Logo */
#logo {
	display: inline-block;
	text-indent: -9999px;
	width: 146px;
	height: 80px;
	background-image: url('../img/SESALogoNoText.png');
	background-image: url('../img/SESALogoNoText.svg'), none;
	background-size: 146px 80px;
}

/*section {
  margin-bottom: 40px;
}
*/
a {
  color: #038FB1;
  text-decoration: none;
  transition: text-shadow 0.2s;
}

a:hover {
  text-shadow: 0 0 1px #00B3FF;
}

/* Object Styles */
.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inline-list > li {
  margin: 0;
  padding: 0 40px 0 0;
  display: inline-block;
}

/* Page Layout */
.wrapper {
  min-height: 100%;
  position: relative;
}

.page-header {
  /*background: #333333;*/
}

.page-header-titles {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.page-navigation {
  padding: 10px 0;
  background: #333333;
  box-shadow: 0 2px 1px gray;
  font-family: 'Lato', sans-serif;
}

.page-navigation > ul {
  width: 1200px;
  margin: 0 auto;
}

.page-icon {
  display: inline-block;
  background: #333333;
  border-radius: 5px;
  height: 100px;
  padding: 15px;
}

.page-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 0 0;
  padding: 0;
  font-size: 80px;
}

.page-subtitle {
  display: inline-block;
  vertical-align: text-top;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.page-content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 58px 0;
}

.page-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  background: #333333;
}

.page-footer-content {
  width: 1200px;
  margin: 0 auto;
}

.about {
  width: 520px;
  margin-right: 55px;
  display: inline-block;
  vertical-align: top;
}

.join {
  width: 520px;
  display: inline-block;
  vertical-align: top;
}

/* Sponsor box */
div.sponsors-wrapper {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	background-color: #333333;
}

section.sponsors {
	width: 1200px;
	margin: 0 auto;
	height: 290px;
}

.sponsors-title {
	margin: 0;
}

div.sponsor {
	display: inline-block;
}

div.sponsor:not(:last-child) {
	margin-right: 30px;
}

div.sponsor.silver {
	position: absolute;
	right: 0;
	top: 87px;
}

div.sponsor > p {
	margin: 0;
	text-align: center;
	color: white;
}

img.sponsor-logo {
	vertical-align: text-top;
	height: 180px;
	width: 180px;
}

section.news {
	margin-top: 310px;
}

/* Module Styles */
/* Page Section */
.section-title {
  margin: 20px 0 10px 0;
}

/* Page Nav */
.page-navigation {
  font-size: 1.2em;
}

/* News Post */
.news-more {
  display: block;
  padding-bottom: 30px;
}

.news-post {
  margin: 10px 0 40px 0;
}

.news-title {
  margin: 20px 0 10px 0;
}

.news-author {
  display: inline-block;
  margin: 0;
  padding-right: 20px;
}

/* Pagination */
.pagination {
  text-align: center;
  margin-bottom: 30px;
}

.pagination a, span {
  padding: 0 50px;
}
