/* Element Styles */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #333333;
	background: #333333;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Gotham Narrow', 'Lato', sans-serif;
	font-weight: lighter;
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }

p {text-align: justify;}

a {
	color: #038FB1;
	text-decoration: none;
	transition: text-shadow 0.2s;
}

a:hover {
	text-shadow: 0 0 1px #00B3FF;
}

section {
	display: inline-block;
}

/* Collumn display */
@media (max-width: 770px) {
	section {
		width: 100%;
	}
}

@media (min-width: 771px) {
	section {
		width: 49%;
	}
}

section > * {
	padding: 0 10px;
}

/* Page Layout */
.wrapper {
	min-height: 100%;
	position: relative;
}

.page-header {
	position: relative;
	overflow: hidden;
}

.page-icon {
	display: inline-block;
	background: rgba(51, 51, 51, 0.67);
	border-radius: 5px;
	padding: 15px;
}

.page-title {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 20px;
	padding: 0;
	font-size: 80px;
	z-index: 1;
}

/* Logo */
#logo {
	display: inline-block;
	text-indent: -9999px;
	width: 146px;
	height: 80px;
	background-image: url('../img/SESALogoNoText.png');
	background-image: url('../img/SESALogoNoText.svg'), none;
	background-size: 146px 80px;
	content: ''; /* Workaround for "empty image" issue */
}

#banner_image {
	display: block;
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

/* Responsive banner image, supports screens up to 4096 px wide. */
@media (max-width: 1024px) {
	#banner_image {
		height: 200px;
	}
	
	.page-header {
		height: 200px;
	}

	.page-title {
		font-size: 40px;
	}

	#logo {
			width: 73px;
			height: 40px;
			background-size: 73px 40px;
	}
}

@media (min-width: 1025px) and (max-width: 1536px) {
	#banner_image {
		height: 300px;
	}
	
	.page-header {
		height: 300px;
	}

	.page-title {
		font-size: 60px;
	}

	#logo {
			width: 108px;
			height: 60px;
			background-size: 108px 60px;
	}
}

@media (min-width: 1537px) and (max-width: 2048px) {
	#banner_image {
		height: 400px;
	}
	
	.page-header {
		height: 400px;
	}

	.page-title {
		font-size: 80px;
	}

	#logo {
			width: 146px;
			height: 80px;
			background-size: 146px 80px;
	}
}

@media (min-width: 2049px) and (max-width: 3072px) {
	#banner_image {
		height: 600px;
	}
	
	.page-header {
		height: 600px;
	}

	.page-title {
		font-size: 80px;
	}

	#logo {
			width: 146px;
			height: 80px;
			background-size: 146px 80px;
	}
}

@media (min-width: 3073px) {
	#banner_image {
		height: 800px;
	}
	
	.page-header {
		height: 800px;
	}

	.page-title {
		font-size: 80px;
	}

	#logo {
			width: 146px;
			height: 80px;
			background-size: 146px 80px;
	}
}

/* Object Styles */
.inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.inline-list > li {
	margin: 0;
	padding: 0 40px 0 0;
	display: inline-block;
}

/* Page Nav */
.page-navigation {
	background: #333333;
	font-family: 'Lato', sans-serif;
	width: 250px;
	float: left;
	overflow: none;
}

ul.page-navigation-links li i {
	width: 24px;
	text-align: center;
	margin-right: 2px;
}

ul.page-navigation-links li {
	display: block;
	font-weight: lighter;
	padding-left: 10px;
	background: #333333;
	border: none;
	cursor: pointer;
}

.menu-button {
	display: block;
	font-weight: lighter;
	font-size: 24pt;
	padding-left: 10px;
	background: #333333;
	border: none;
	cursor: pointer;
}

ul.page-navigation-links li:hover,
.menu-button:hover {
	background-color: #444455;
}

.page-content {
	margin-left: 250px;
	background-color: #EEEEEE;
}

/* Changes menu style on small screens */
@media (max-width: 600px) {
	.mobile {
		display: block;
	}

	.non-mobile {
		display: none;
	}

	.page-content {
		margin-left: 0px;
	}

	ul.page-navigation-links li {
		font-size: 22pt;
		line-height: 2;
	}

	ul.page-navigation-links li i {
		width: 30px;
	}
}

@media (min-width: 601px) {
	.mobile {
		display: none;
	}

	.non-mobile {
		display: block;
	}

	#mobile_menu {
		display: none !important;
	}

	.page-content {
		margin-left: 250px;
	}

	ul.page-navigation-links li {
		font-size: 18pt;
		line-height: 1.8;
	}

	ul.page-navigation-links li i {
		width: 24px;
	}
}

/* Module Styles */
/* Page Section */
.section-title {
	margin: 0;
}

.about {
	display: inline-block;
	vertical-align: top;
}

.join {
	display: inline-block;
	vertical-align: top;
}

/* News Post */
.news-more {
	display: block;
	padding-bottom: 30px;
}

.news-post {
	margin: 10px 0 40px 0;
}

.news-title {
	margin: 0;
}

.news-author {
	display: inline-block;
	margin: 0;
	padding-right: 20px;
}

/* Sponsors */
section.patrons {
	width: 100%;
	background: #333333;
}

.patrons > div {
	width: 100%;
	text-align: center;
}

div.patron {
	display: inline-block;
}

.patrons > h2,
.patrons > h3 {
	margin: 0;
	text-align: center;
}

.patron.gold img.patron-logo {
	vertical-align: text-top;
	height: 125px;
	width: 125px;
}

.patron.silver img.patron-logo {
	vertical-align: text-top;
	height: 80px;
	width: 80px;
}

.patron.silver img.patron-logo:first-child {
	margin-right: 30px;
}

/* Footer */
.page-footer {
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 15px 0;
	background: #333333;
}

.page-footer-content {
	margin: 0 15px;
}


/* Contacts page */
ul.contact-list {
	padding-bottom: 20px;
}

ul.contact-list > li {
	display: block;
	margin: 20px 0px;
	font-size: 15pt;
}

/* Pagination */
.pagination {
	text-align: center;
	margin-bottom: 30px;
}

.pagination a, span {
	padding: 0 50px;
}
