---
---

@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
}

// Remove underline from links
a {
  text-decoration: none;
  color: #49bfaa;
}

a:hover {
  text-decoration: underline;
}

.section {
}

.section-title {
  color: #49bfaa;
}

.body-container {
  display: flex;
  gap: 80px;
  padding: 0 24px;
  flex-wrap: wrap;
}

.column-post {
  min-width: 320px;
  max-width: 400px;
}

.column-post > p {
  text-align: justify;
  padding-top: 1em;
}
