---
---

@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$sesa-teal-dark: #49bfaa;
$sesa-teal-light: #70c7b0;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
}

// Remove underline from links
a {
  text-decoration: none;
  color: $sesa-teal-dark;
}

a:hover {
  text-decoration: underline;
}

.section {
}

.body-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  flex-wrap: wrap;

  .column {
    min-width: 320px;
    width: 40%;
  }
}

.post {
  .title {
    padding-bottom: 0.5em;
    color: $sesa-teal-dark;
  }

  p {
    text-align: justify;
    padding-bottom: 1em;
  }

  button {
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px 32px;
    background-color: $sesa-teal-light;
    border: 0;
    border-radius: 12px;
    outline: none;
    color: white;

    &:hover {
      background-color: $sesa-teal-dark;
    }

    &:active {
      background-color: darken($sesa-teal-dark, 10%);
    }
  }
}
