---
title: SESA - Home
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Software Engineering Students Association</title>
    
  </head>
  <body>
    <main>
      <!-- Main Splash and Header -->
      <header class="section splash-header">
        <div class="splash-container nav-container">
          {% include nav.html %}
          <div class="content">
            <h1 class="title">Software Engineering Students Association</h1>
            <p class="description">SESA is the association for students and alumni of the Software Engineering programme at the University of Auckland.</p>
            <div class="social-links">
              <a href="https://www.facebook.com/uoasesa" class="social-icon" rel="noopener noreferrer"><img src="../img/social-media-icons/facebook.svg" alt="facebook-icon" /></a>
              <a href="https://www.instagram.com/sesa.uoa" class="social-icon" rel="noopener noreferrer"><img src="../img/social-media-icons/instagram.svg" alt="instagram-icon" /></a>
              <a href="https://www.linkedin.com/company/ausesa" class="social-icon" rel="noopener noreferrer"><img src="../img/social-media-icons/linkedin.svg" alt="linkedin-icon" /></a>
              <a href="https://discord.gg/4qABfUJPsn" class="social-icon" rel="noopener noreferrer"><img src="../img/social-media-icons/discord.svg" alt="discord-icon" /></a>
            </div>
          </div>
        </div>
      </div>
      </header>

        <!-- Sponsors Section -->
        <section id="sponsors" class="section">
            <div class="sponsors-inner">
                <div class="sponsors-left">
                    <h1>Proudly supported by our sponsors</h1>
                </div>
                <div class="sponsors-right">
                    <h2 class="gold">Gold Sponsors</h2>
                    <div class="sponsors-flowbox">
                        <a href="https://careers.datacom.co.nz/"><img class="sponsors-img gold-sponsor" src="img/sponsors/datacom.jpg" /></a>
                        <a href="https://www.ecoportal.com/"><img class="sponsors-img gold-sponsor" src="img/sponsors/ecoportal-grayscale.png" /></a>
                        <a href="https://careers.imc.com/ap/en"><img class="sponsors-img gold-sponsor" src="img/sponsors/imc-grayscale.png" /></a>
                    </div>

                    <span class="spacer"></span>

                    <h2>Silver Sponsors</h2>
                    <div class="sponsors-flowbox">
                        <a href="http://atlassian.com/company/careers/students"><img class="sponsors-img silver-sponsor" src="img/sponsors/atlassian-grayscale.png" /></a>
                        <a href="https://www.commbank.com.au/about-us/careers.html?ei=CB-footer_careers"><img class="sponsors-img silver-sponsor" src="img/sponsors/commonwealth.png" /></a>
                        <a href="http://www.denko.co.nz/"><img class="sponsors-img silver-sponsor" src="img/sponsors/denko.png" /></a>
                        <a href="https://careers.honeywell.com/us/en"><img class="sponsors-img silver-sponsor" src="img/sponsors/honeywell.png" /></a>
                        <a href="https://www.janestreet.com/join-jane-street/"><img class="sponsors-img silver-sponsor" src="img/sponsors/janestreet-grayscale.png" /></a>
                        <a href="http://sandfield.co.nz/Careers"><img class="sponsors-img silver-sponsor" src="img/sponsors/sandfield-grayscale.png" /></a>
                        <a href="https://serato.com/careers"><img class="sponsors-img silver-sponsor" src="img/sponsors/serato-grayscale.png" /></a>
                        <a href="https://sylo.io/careers/"><img class="sponsors-img silver-sponsor" src="img/sponsors/sylo.png" /></a>
                    </div>
                </div>
            </div>
        </section>

      <!-- Body -->
      <section class="section">
        <div class="body-container">
          <section class="column post">
            <h2 class="title">
              <a name="about" href="#about">About SESA</a>
            </h2>
            <p>
              SESA is the Software Engineering Students Association for students and alumni of the Software Engineering
              programme at the
              <a href="https://auckland.ac.nz">University of Auckland</a>. We organise and run events for members such
              as career workshops, game nights, and industry talks with our sponsors.
            </p>
            <p>
              Where necessary we also act as a liaison between the department and the SOFTENG students, raising any
              relevant issues (course content, difficulties in learning).
            </p>
          </section>

          <section class="column post">
            <h2 class="title">
              <a name="join" href="#join">How to Join</a>
            </h2>
            <p>
              To join SESA, fill out <a href="/join">this form</a>. Joining is 100% free. Follow the instructions on the
              form to become a member, even if you did this last year. Membership doesn't roll over so you need to fill
              out this form each year!
            </p>
            <p>
              Once you have filled out the form, don't forget to join the
              <a href="https://www.facebook.com/groups/ausesa/">Facebook Group</a>, where most of our discussion
              happens!
            </p>
            <button>Join Now</button>
          </section>

          <!-- <section class="post news-post">
            <h2 class="section-title news-title">
              <a name="news" href="#news">Latest News</a>
            </h2>
            {% assign article = site.posts.first %} {% include article.html %}

            <a class="news-more" href="/news">More news <i class="fa fa-arrow-right"></i></a>
          </section> -->
        </div>
      </section>

      {% include footer.html %}
    </main>
    <script src="../js/main.js"></script>
  </body>
</html>
