/*new css file cuz the other one was acting up*/
.background-container {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -5;
  }
  
  .background {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .showing {
    opacity: 1;
    z-index: -1;
    transition: none;
  }