<footer class="footer">
  <div class="footer-content-container">
    <div class="footer-links">
      <ul class="inline-list">
        <li>
          <a href="/"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
          <a
            href="mailto:exec@sesa.org.nz"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-envelope"></i> Email Us</a
          >
        </li>
        <li>
          <a
            href="/SESAConstitution.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa fa-file-text"></i> Constitution</a
          >
        </li>
        <li>
          <a
            href="https://github.com/ausesa/ausesa.github.com"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-code-fork"></i> Fork This Site</a
          >
        </li>
        <li>
          <a href="#"><i class="fa fa-arrow-up"></i> Top</a>
        </li>
      </ul>
      <p>social media logos here</p>
    </div>
    <div class="logo-container">
      <a href="/"><img class="logo" src="/img/logo-bw-light.svg" /></a>
    </div>
  </div>
</footer>
