<footer class="section">
  <div class="page-footer-content">
    <nav class="footer-navigation">
      <ul class="inline-list">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="mailto:exec@sesa.org.nz"><i class="fa fa-envelope"></i> Email Us</a></li>
      <li><a href="/SESAConstitution.pdf"><i class="fa fa-file-text"></i> Constitution</a></li>
      <li><a href="https://github.com/ausesa/ausesa.github.com"><i class="fa fa-code-fork"></i> Fork This Site</a></li>
      <li><a href="#"><i class="fa fa-arrow-up"></i> Top</a></li>
      </ul>
    </nav>
  </div>
</footer>
