<footer class="footer">
  <div class="footer-row">
    <div class="footer-links">
      <a href="/"><i class="fa fa-home"></i> Home</a>
      <a
        href="mailto:exec@sesa.org.nz"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-envelope"></i> Email Us</a
      >
      <a href="/SESAConstitution.pdf" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-file-text"></i> Constitution</a
      >
      <a
        href="https://github.com/ausesa/ausesa.github.com"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-code-fork"></i> Fork This Site</a
      >
      <a href="#"><i class="fa fa-arrow-up"></i> Top</a>
    </div>
    {% include socials.html %}
  </div>
  <div class="logo-container">
    <img class="logo" src="/img/logo-bw-light.svg" />
  </div>
</footer>
