<header class="page-header">
  <div class="page-header-titles">
    <h1 class="page-title"><a href="/"><span class="page-icon"><div id="logo"></div> SESA</span></a></h1>
    <!-- <h2 class="page-subtitle"><a href="/">Software Engineering Students Association</a></h2> -->
    <!-- <img class="page-icon" src="/img/uoalogo.jpg" alt="University of Auckland Logo" width="200px"> -->
  </div>
  <nav class="page-navigation">
    <ul class="page-navigation-links inline-list">
      <li><a href="/news"><i class="icon-th-large"></i> News</a></li>
      <li><a href="/join"><i class="icon-circle"></i> Join</a></li>
      <li><a href="/opportunities"><i class="icon-briefcase"></i> Opportunities</a></li>
	  <li><a href="/events"><i class="icon-calendar"></i> Events</a></li>
      <li>
        <a href="https://github.com/ausesa"><i class="icon-github-sign"></i> GitHub</a>
      </li>
      <li><a href="https://www.facebook.com/groups/ausesa/">
        <i class="icon-facebook-sign"></i> Facebook</a>
      </li>
      <li><a href="mailto:exec@sesa.org.nz">
        <i class="icon-envelope"></i> Email</a>
      </li>
      <li><a href="https://docs.google.com/a/aucklanduni.ac.nz/document/d/13e_HGS0YkJ0NPy5i9pqJNruYMGXN5_Kylfwe4TDP_eQ/">
        <i class="icon-bookmark"></i> Links (UoA only)</a>
      </li>
    </ul>
  </nav>
</header>
