<div class="splash-nav">
  <a href="/"><img src="/img/logo.svg" alt="logo" class="logo" /></a>
  <a class="mobile-burger">
    <div class="burger-line top"></div>
    <div class="burger-line middle"></div>
    <div class="burger-line bottom"></div>
  </a>
  <nav class="nav-bar">
    <a class="mobile-exit">
      <div class="line top"></div>
      <div class="line bottom"></div>
    </a>
    <a href="/" class="nav-link">Home</a>
    <a href="/news" class="nav-link">News</a>
    <a href="/team" class="nav-link">Our Team</a>
    <a href="/sponsors" class="nav-link">Sponsors</a>
    <a href="/careers" class="nav-link">Careers</a>
    <a href="/events" class="nav-link">Event Calendar</a>
    <a href="/contact" class="nav-link">Contact</a>
    <a href="/join" class="nav-link"><div class="join">Join</div></a>
  </nav>
</div>
