
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="icon-arrow-left"></i> Previous</a>
  {% else %}
    <span class="previous"><i class="icon-arrow-left"></i> Previous</span>
  {% endif %}

  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next <i class="icon-arrow-right"></i></a>
  {% else %}
    <span class="next ">Next <i class="icon-arrow-right"></i></span>
  {% endif %}
</div>
{% endif %}
