<div class="social-links">
  <a
    href="https://www.facebook.com/uoasesa"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="/img/social-media-icons/facebook.svg" alt="facebook-icon"
  /></a>
  <a
    href="https://www.instagram.com/sesa.uoa"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="/img/social-media-icons/instagram.svg" alt="instagram-icon"
  /></a>
  <a
    href="https://www.linkedin.com/company/ausesa"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="/img/social-media-icons/linkedin.svg" alt="linkedin-icon"
  /></a>
  <a
    href="https://discord.gg/4qABfUJPsn"
    class="social-icon"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="/img/social-media-icons/discord.svg" alt="discord-icon"
  /></a>
</div>
