{% if mobile == "true" %} {% assign goldWidth = "50%" %} {% assign mobileTag = "
mobile" %} {% else %} {% assign goldWidth = "80%" %} {% assign mobileTag = "" %}
{% endif %}
<section class="patrons{{ mobileTag }}">
	<h2 class="section-title patrons-title">
		<a name="patrons" href="#patrons">Gold Sponsors</a>
	</h2>
	<div class="patron gold">
		<div class="patron" id="datacom-logo">
			<a href="https://careers.datacom.co.nz/"
				><img
					style="fill: white"
					class="patron-logo"
					width="{{ goldWidth }}"
					src="/img/sponsors/datacom.jpg"
					alt="Datacom Logo"
			/></a>
		</div>
		<div class="patron" id="ecoportal-logo">
			<a href="https://www.ecoportal.com/"
				><img
					style="fill: white"
					class="patron-logo"
					width="{{ goldWidth }}"
					src="/img/sponsors/ecoportal-grayscale.png"
					alt="EcoPortal Logo"
			/></a>
		</div>
		<div class="patron" id="imc-logo">
			<a href="https://careers.imc.com/ap/en"
				><img
					class="patron-logo"
					width="{{ goldWidth }}"
					src="/img/sponsors/imc-grayscale.png"
					alt="IMC Trading Logo"
			/></a>
		</div>
	</div>
	<h3 class="section-title patrons-title">
		<a name="patrons" href="#patrons">Silver Sponsors</a>
	</h3>
	<div class="patron silver">
		<div class="patron" id="atlassian-logo">
			<a href="http://atlassian.com/company/careers/students"
				><img
					class="patron-logo"
					src="/img/sponsors/atlassian-grayscale.png"
					alt="Atlassian Logo"
			/></a>
		</div>
		<div class="patron" id="commonwealth-bank-logo">
			<a
				href="https://www.commbank.com.au/about-us/careers.html?ei=CB-footer_careers"
				><img
					class="patron-logo"
					src="/img/sponsors/commonwealth.png"
					alt="Commonwealth Bank Logo"
			/></a>
		</div>
		<div class="patron" id="denko-logo">
			<a href="http://www.denko.co.nz/"
				><img
					class="patron-logo"
					src="/img/sponsors/denko.png"
					alt="Denko Logo"
			/></a>
		</div>
		<div class="patron" id="honeywell-logo">
			<a href="https://careers.honeywell.com/us/en"
				><img
					class="patron-logo"
					src="/img/sponsors/honeywell.png"
					alt="Honeywell Logo"
			/></a>
		</div>
		<div class="patron" id="janestreet-logo">
			<a href="https://www.janestreet.com/join-jane-street/"
				><img
					class="patron-logo"
					src="/img/sponsors/janestreet-grayscale.png"
					alt="Jane Street Logo"
			/></a>
		</div>
		<div class="patron" id="sandfield-logo">
			<a href="http://sandfield.co.nz/Careers"
				><img
					class="patron-logo"
					src="/img/sponsors/sandfield-grayscale.png"
					alt="Sandfield Logo"
			/></a>
		</div>
		<div class="patron" id="serato-logo">
			<a href="https://serato.com/careers"
				><img
					class="patron-logo"
					src="/img/sponsors/serato-grayscale.png"
					alt="Serato Logo"
			/></a>
		</div>
		<div class="patron" id="sylo-logo">
			<a href="https://sylo.io/careers/"
				><img
					class="patron-logo"
					src="/img/sponsors/sylo.png"
					alt="Sylo Logo"
			/></a>
		</div>
	</div>
</section>
