<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Software Engineering Students Association for students and alumni from the Software Engineering programme at the University of Auckland.">

	<link rel="stylesheet" href="/css/style.css">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="wrapper">
		<nav class="page-nav nav-container">
			{% include nav.html %}
		</nav>
		<div class="page-content">
			<div id="menu_button" class="menu-button mobile">
				<a href="#"><i class="fa fa-bars"></i> Menu</a>
			</div>
			<div id="mobile_menu" style="display: none">
				<ul class="page-navigation-links inline-list">
					<a href="/news"><li><i class="fa fa-th-large"></i> News</li></a>
					<a href="/join"><li><i class="fa fa-circle"></i> Join</li></a>
					<a href="/opportunities"><li><i class="fa fa-briefcase"></i> Opportunities</li></a>
					<a href="/events"><li><i class="fa fa-calendar"></i> Events</li></a>
					<a href="/contact"><li><i class="fa fa-envelope"></i> Contact Us</li></a>
					<a href="https://docs.google.com/a/aucklanduni.ac.nz/document/d/13e_HGS0YkJ0NPy5i9pqJNruYMGXN5_Kylfwe4TDP_eQ/"><li>
						<i class="fa fa-bookmark"></i> Student Links
					</li></a>
				</ul>
			</div>
			{{ content }}
			{% assign mobile="true" %}
			{% include sponsors.html mobile=mobile %}
		</div>

		{% include footer.html %}
	</div>
</body>
</html>
