<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Software Engineering Students Association for students and alumni from the Software Engineering programme at the University of Auckland.">

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/main.css">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="wrapper">
		{% include header.html %}
		<nav class="page-navigation non-mobile">
			<ul class="page-navigation-links inline-list">
				<a href="/news"><li><i class="fa fa-th-large"></i> News</li></a>
				<a href="/join"><li><i class="fa fa-check-square-o"></i> Join</li></a>
				<a href="/opportunities"><li><i class="fa fa-briefcase"></i> Opportunities</li></a>
				<a href="/contact"><li><i class="fa fa-envelope"></i> Contact Us</li></a>
				<a href="https://docs.google.com/a/aucklanduni.ac.nz/document/d/13e_HGS0YkJ0NPy5i9pqJNruYMGXN5_Kylfwe4TDP_eQ/"><li>
					<i class="fa fa-bookmark"></i> Student Links
				</li></a>
			</ul>

			<section class="patrons">
				<h2 class="section-title patrons-title"><a name=patrons href="#patrons">Gold Sponsors</a></h2>
				<div class="patron gold">
					<div class="patron" id="serato-logo">
						<a href="https://serato.com/careers"><img style="fill: white" class="patron-logo" width="80%" src="/img/sponsors/serato.png" alt="Serato Logo"/></a>
					</div>
					<div class="patron" id="softtech-logo">
						<a href="https://softtech.com/careers/"><img class="patron-logo" width="80%" src="/img/sponsors/softtech.png" alt="SoftTech Logo"/></a>
					</div>
				</div>
				<h3 class="section-title patrons-title"><a name=patrons href="#patrons">Silver Sponsors</a></h3>
				<div class="patron silver">
					<div class="patron" id="datacom-logo">
						<a href="https://datacom.co.nz/Careers/Hiring-Now.aspx"><img class="patron-logo" src="/img/sponsors/datacom.png" alt="Datacom Logo"/></a>
					</div>
					<div class="patron" id="eroad-logo">
						<a href="http://careers.eroad.com/careers/"><img class="patron-logo" src="/img/sponsors/eroad.png" alt="EROAD Logo"/></a>
					</div>
					<div class="patron" id="gentrack-logo">
						<a href=https://www.gentrack.com/careers/"><img class="patron-logo" src="/img/sponsors/gentrack.png" alt="Gentrack Logo"/></a>
					</div>
					<div class="patron" id="kami-logo">
						<a href="https://www.kamiapp.com/careers/"><img class="patron-logo" src="/img/sponsors/kami.png" alt="Kami Logo"/></a>
					</div>
					<div class="patron" id="vista-logo">
						<a href="http://www.vista.co/en/careers/"><img class="patron-logo" src="/img/sponsors/vista.png" alt="Vista Logo"/></a>
					</div>
					<div class="patron" id="xero-logo">
						<a href="https://www.xero.com/nz/about/careers/openings/"><img class="patron-logo" src="/img/sponsors/xero.png" alt="Xero Logo"/></a>
					</div>
					<div class="patron" id="atlassian-logo">
						<a href="http://atlassian.com/company/careers/students"><img class="patron-logo" src="/img/sponsors/atlassian.png" alt="Atlassian Logo"/></a>
					</div>
					<div class="patron" id="sandfield-logo">
						<a href="http://sandfield.co.nz/Careers"><img class="patron-logo" src="/img/sponsors/sandfield.png" alt="Sandfield Logo"/></a>
					</div>
					<div class="patron" id="optiver-logo">
						<a href=https://www.optiver.com/ap/en/job-opportunities"><img class="patron-logo" src="/img/sponsors/optiver.png" alt="Optiver Logo"/></a>
					</div>
					<div class="patron" id="ecoportal-logo">
						<a href="https://www.ecoportal.com/"><img class="patron-logo" src="/img/sponsors/ecoportal.png" alt="EcoPortal Logo"/></a>
					</div>
				</div>
			</section>
		</nav>
		<div class="page-content">
			<div id="menu_button" class="menu-button mobile">
				<a href="#"><i class="fa fa-bars"></i> Menu</a>
			</div>
			<div id="mobile_menu" style="display: none">
				<ul class="page-navigation-links inline-list">
					<a href="/news"><li><i class="fa fa-th-large"></i> News</li></a>
					<a href="/join"><li><i class="fa fa-circle"></i> Join</li></a>
					<a href="/opportunities"><li><i class="fa fa-briefcase"></i> Opportunities</li></a>
					<a href="/events"><li><i class="fa fa-calendar"></i> Events</li></a>
					<a href="/contact"><li><i class="fa fa-envelope"></i> Contact Us</li></a>
					<a href="https://docs.google.com/a/aucklanduni.ac.nz/document/d/13e_HGS0YkJ0NPy5i9pqJNruYMGXN5_Kylfwe4TDP_eQ/"><li>
						<i class="fa fa-bookmark"></i> Student Links
					</li></a>
				</ul>
			</div>
			{{ content }}
			<section class="patrons mobile">
				<h2 class="section-title patrons-title"><a name=patrons href="#patrons">Gold Sponsors</a></h2>
				<div class="patron gold">
					<div class="patron" id="serato-logo">
						<a href="https://serato.com/careers"><img style="fill: white" class="patron-logo" width="50%" src="/img/sponsors/serato.png" alt="Serato Logo"/></a>
					</div>
					<div class="patron" id="softtech-logo">
						<a href="https://softtech.com/careers/"><img class="patron-logo" width="50%" src="/img/sponsors/softtech.png" alt="SoftTech Logo"/></a>
					</div>
				</div>
				<h3 class="section-title patrons-title"><a name=patrons href="#patrons">Silver Sponsors</a></h3>
				<div class="patron silver">
					<div class="patron" id="datacom-logo">
						<a href="https://datacom.co.nz/Careers/Hiring-Now.aspx"><img class="patron-logo" src="/img/sponsors/datacom.png" alt="Datacom Logo"/></a>
					</div>
					<div class="patron" id="eroad-logo">
						<a href="http://careers.eroad.com/careers/"><img class="patron-logo" src="/img/sponsors/eroad.png" alt="EROAD Logo"/></a>
					</div>
					<div class="patron" id="gentrack-logo">
						<a href=https://www.gentrack.com/careers/"><img class="patron-logo" src="/img/sponsors/gentrack.png" alt="Gentrack Logo"/></a>
					</div>
					<div class="patron" id="kami-logo">
						<a href="https://www.kamiapp.com/careers/"><img class="patron-logo" src="/img/sponsors/kami.png" alt="Kami Logo"/></a>
					</div>
					<div class="patron" id="vista-logo">
						<a href="http://www.vista.co/en/careers/"><img class="patron-logo" src="/img/sponsors/vista.png" alt="Vista Logo"/></a>
					</div>
					<div class="patron" id="xero-logo">
						<a href="https://www.xero.com/nz/about/careers/openings/"><img class="patron-logo" src="/img/sponsors/xero.png" alt="Xero Logo"/></a>
					</div>
					<div class="patron" id="atlassian-logo">
						<a href="http://atlassian.com/company/careers/students"><img class="patron-logo" src="/img/sponsors/atlassian.png" alt="Atlassian Logo"/></a>
					</div>
					<div class="patron" id="sandfield-logo">
						<a href="http://sandfield.co.nz/Careers"><img class="patron-logo" src="/img/sponsors/sandfield.png" alt="Sandfield Logo"/></a>
					</div>
					<div class="patron" id="optiver-logo">
						<a href=https://www.optiver.com/ap/en/job-opportunities"><img class="patron-logo" src="/img/sponsors/optiver.png" alt="Optiver Logo"/></a>
					</div>
					<div class="patron" id="ecoportal-logo">
						<a href="https://www.ecoportal.com/"><img class="patron-logo" src="/img/sponsors/ecoportal.png" alt="EcoPortal Logo"/></a>
					</div>
				</div>
			</section>
		</div>

		{% include footer.html %}
	</div>
</body>
</html>
