---
layout: default
---

<section class="post">
    {% assign article = page %}
    {% include article.html %}

    <div class="pagination">
        {% if page.next != nil %}
            <a href="{{ page.next.url }}" class="next"><i class="fa fa-arrow-left"></i> {{ page.next.title }}</i></a>
        {% endif %}

        {% if page.previous != nil %}
            <a href="{{ page.previous.url }}" class="previous">{{ page.previous.title }} <i class="fa fa-arrow-right"></i></a>
        {% endif %}
    </div>
</section>
